.about {
  .form-row {
    margin-right: -.8rem;
    margin-left: -.8rem;

    > .col,
    > [class*="col-"] {
      padding-right: .8rem;
      padding-left: .8rem;
    }
  }

  .position-relative {
    display: flex;
    align-items: center;

    svg {
      height: auto;
      width: 150%;
    }
    &.img-full {
      svg {
        width: 100%;
      }
    }
    &.img-left {
      svg {
        margin-left: -4rem;
      }
    }
    &.img-right {
      svg {
        margin-right: -4rem;
        transform: scaleX(-1);
      }
    }
  }

  .card {
    .card-body {
      padding: 5rem 2rem !important;

      p {
        line-height: 1.9;
      }
    }
  }
}

