@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.download {
  .list-group-item {
    a {
      font-size: .8em;

      &:hover {
        color: $primary !important;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .download {
      .row {
        .col-12 {
          &:first-child {
            margin-bottom: 5rem;
          }
        }
      }
  }
}