@import "../variables";
@import "node_modules/bootstrap/scss/mixins";

.features {
  i {
    color: $icon-color;
  }
}

@include media-breakpoint-down(sm) {
  .features {
    .container {
      .row {
        text-align: center;

        .list-group {
          text-align: left;
        }

        .card-group {
          box-shadow: none !important;
        }
      }
    }
  }
}