@import "../variables";
@import "node_modules/bootstrap/scss/mixins";

.features {
  i {
    color: $icon-color;
  }

  .feature-block {
    svg {
      max-height: 110px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .features {
    .container {
      .row {
        .list-group {
          text-align: left;
        }

        .card-group {
          box-shadow: none !important;
        }
      }
    }
  }
}
