@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

header {
  .navbar {
    .navbar-brand {
      font-weight: 800;
    }
    .navbar-toggler {}
    .navbar-collapse {
      .nav-link,
      .btn-outline-primary {
        font-weight: 500;
      }
    }
    .navbar-brand {
      img {
        width: 150px;
      }
    }

    &.active {
      background-color: $white;
      box-shadow: $box-shadow-sm;
    }
  }
}


@include media-breakpoint-down(sm) {
  header {
    .navbar {
      background-color: $white;
      box-shadow: $box-shadow-sm;

      .navbar-collapse {
        padding-top: 1rem;
      }
    }
  }
}